In [ ]:
import pandas as pd
from google.colab import files

In [ ]:
# Read a file
df =pd.read_excel('Name of a file.xlsx')
df

    segment   f0_
0        男女  6825
1      網路迷因  5845
2      感情經營  5811
3      學業生活  2866
4        星座  2714
..      ...   ...
261    個人衛生     1
262    包裝咖啡     1
263    頸部飾品     1
264      襪子     1
265   枕頭/棉被     1

[266 rows x 2 columns]

In [ ]:
# Find out if there is missing data in the original file
df.isnull().value_counts()

segment  f0_
False    False    265
True     False      1
dtype: int64

In [ ]:
# Delete the segment with missing data 
df = df.dropna()

In [ ]:
# Reference of a classification
# Since some data are confidential, most of it is modified and doesn't fit the reality
new_third_tags_to_first = {
"3C":"3C產品",
"3C品牌":"3C產品",
"二手":"交通",
"品牌":"保養美體",
"大眾":"交通",
}

In [ ]:
# Mapping the data
# Examine if any data are mismatched after being classified 
df["new_seg"] = df.segment.map(new_third_tags_to_first)
df.isnull().value_counts()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

segment  f0_    new_seg
False    False  False      265
dtype: int64

In [ ]:
# Find out the missing mapping data
df[df.new_seg.isnull()]['segment'].unique()

array([], dtype=object)

In [ ]:
df

    segment   f0_ new_seg
0        男女  6825      兩性
1      網路迷因  5845      興趣
2      感情經營  5811      兩性
3      學業生活  2866      校園
4        星座  2714      興趣
..      ...   ...     ...
261    個人衛生     1    日常用品
262    包裝咖啡     1    食品餐飲
263    頸部飾品     1    服飾配件
264      襪子     1    服飾配件
265   枕頭/棉被     1    日常用品

[265 rows x 3 columns]

In [ ]:
new_df=df[['new_seg','f0_']]
new_df

    new_seg   f0_
0        兩性  6825
1        興趣  5845
2        兩性  5811
3        校園  2866
4        興趣  2714
..      ...   ...
261    日常用品     1
262    食品餐飲     1
263    服飾配件     1
264    服飾配件     1
265    日常用品     1

[265 rows x 2 columns]

In [ ]:
# Aggregate the needed data
group_count = new_df.groupby(['new_seg']).sum().sort_values(by=['f0_'],ascending=False)
group_count.columns=['counts']
group_count

         counts
new_seg
興趣        17409
兩性        14823
校園         7755
影音娛樂       7657
工作         7130
應用與遊戲      7000
生活         5758
日常用品       5656
服飾配件       5444
運動與健身      4731
理財         3822
3C產品       3746
食品餐飲       3317
美妝         2565
交通         2419
閱讀         1826
旅遊         1653
保養美體       1602
海外          910

In [ ]:
# Export the aggregated report and download it
group_count.to_excel("New Name.xlsx") 
files.download("New Name.xlsx")